* {
   box-sizing: border-box;
   margin: 0;
}

#container{
  width:100%;
  height:100%;
  float: left;
  background-color:#c9b1fb;
}

.menu {
  font-size: calc(1.5vw + .5vw);
  float: left;
  width: 25%;
  text-align: center;
}

.menu a{
  text-decoration: none;
  background: #fbc9b1;
  padding: 8px;
  margin-top: 7px;
  margin-left: 7px;
  display: block;
  width: 100%;
  color: #8b0a50;
}

.right {
  font-size: calc(2vw + .5vw);
  background: #e3fbb1;
  float: right;
  margin-right: 7px;
  width: 72.5%;
  padding: 15px;
  margin-top: 7px;
  color: #8b0a50;
}

.right table,h3,p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right img{
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

.right a{
  color: #8b0a50;
  background-color:#fbc9b1;
}

/* Fancybox */
a[data-fancybox] img {
  cursor: zoom-in;
}
	
header{
  margin-left: 7px;
  margin-top: 7px;
  margin-right: 7px;
  background: #b1e3fb /* #fbc9b1 */;
  color: #8b0a50;
  font-size: calc(1.5vw + .5vw);
  text-align: center;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
}

footer{
  font-size: calc(1.5vw + .5vw);
  padding: 20px;
  margin-top: 10px;
  background-color: #ace1af;
  clear:both;
  text-align: center;
  color: #8b0a50;
}